<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script
      src="{{ url_for('static', filename='timerUse.js') }}"
      defer
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
    <title>Document</title>
  </head>
  <body>
    <h1>Play</h1>
    <div class="wrapper">
      <div class="time">
        <span class="hour">00</span>
        <span class="colon">:</span>
        <span class="minute">00</span>
        <span class="colon">:</span>
        <span class="second">00</span>
      </div>

      <div class="buttons">
        <button class="start">Start</button>
        <button class="stop">Stop</button>
      </div>
      
      <a href="/cancel">Cancel</a>
  </body>
</html>
